.slider-holder
{
    width: 1378px;
    height: 1218px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
        
.image-holder
{
    width: 4134px;
    background-color: red;
    height: 1218px;
    clear: both;
    position: relative;
            
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
        
.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
        
#slider-image-1:target ~ .image-holder
{
    left: 0px;
}
        
#slider-image-2:target ~ .image-holder
{
    left: -1378px;
}
        
#slider-image-3:target ~ .image-holder
{
    left: -2756px;
}
        
.slider-change
{           
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: black;
}